<!-- <div class="sidebar-heading">
    <b>SIDEBAR</b>
</div> -->
<div class="side-bar">

<h5 class="sidebar-heading-subheading">CONTACT DETAILS</h5>
<div class="sidebar-projects-list list-group">
    <span class="list-group-item list-group-item-action">
        <fa-icon class="concept-icon " [icon]="['fas', 'phone']"> </fa-icon> (+27)71 913-2174
    </span>
    <span class="list-group-item list-group-item-action">
        <fa-icon class="concept-icon " [icon]="['fas', 'phone']"> </fa-icon> (+27)47 489-1267
    </span>
    <span class="list-group-item list-group-item-action">
        <fa-icon class="concept-icon" [icon]="['fas', 'envelope']"> </fa-icon> info@monakaliattorneys.co.za
    </span>
    <!-- <span class="list-group-item">
        <fa-icon class="concept-icon" [icon]="['fas', 'envelope']"> </fa-icon> services@ypac.co.za
    </span> -->
</div>

<h5 class="sidebar-heading-subheading">QUICK LINKS</h5>
<div class="sidebar-projects-list list-group">
    
    <a class="list-group-item list-group-item-action" routerLink="/dashboard">
        <fa-icon class="concept-icon" [icon]="['fas', 'file-circle-question']"></fa-icon>
        FAQs
    </a>
    <a class="list-group-item list-group-item-action" routerLink="/dashboard">
        <fa-icon class="concept-icon" [icon]="['fas', 'file-signature']"></fa-icon>
        Ts & Cs
    </a>
</div>


<h5 class="sidebar-heading-subheading">MISCs</h5>
<div class="sidebar-projects-list list-group">
    <!-- <a class="list-group-item list-group-item-action" routerLink="/projects">
        <fa-icon class="concept-icon" [icon]="['fas', 'globe']"></fa-icon> 
        Mabunda Group
    </a> -->
    <a class="list-group-item list-group-item-action" routerLink="/projects">
        <fa-icon class="concept-icon" [icon]="['fas', 'scroll']"></fa-icon>
        Testimonials
    </a>
    <!-- <a type="button" class=" list-group-item" routerLink="/projects">
        <fa-icon class="concept-icon" [icon]="['fas', 'globe']"></fa-icon>
        SW Constructions
    </a> -->
</div>
</div>







