

.header-contact-details-container {
    padding-top: 7px;
    padding-bottom: 7px;
    color: red;
    text-align: right;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

/* .navbar-toggler, .collapse, .navbar-collapse, button {
    color: black;
    border-color: #000;
} */

 .bg-light a.active {
    color: #000;
    font-weight: bold;
    border-bottom: 5px solid red;
}
 /* .bg-light button, .navbar-toggler-icon{
    border-color: brown;
 } */


.nav-item {
    padding-left: 20px;
    padding-right: 20px;
}

.nav-item:hover {
    background-color:red;
  
}

.nav-item:hover .nav-link{
    color: white;
}

.nav-item a {
    color: brown;
    font-size: 1.2em;
    /* font-weight: bold; */
}

nav {
position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.container-fluid {
    padding-left: 0px;
    margin-left: 10px;
}

.navbar-light {
    padding-left: 8px;
}

.header-img {
    text-align: right;
}

