    <nav class="navbar bg-light navbar-expand-lg  ">
        
        <div class="container-fluid">

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                
                <div class="navbar-nav ms-auto">

                    <div class="nav-item">
                        <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]={exact:true} routerLink="/">Home </a>
                    </div>

                    <div class="nav-item">
                        <a class="nav-link" [routerLinkActive]="['active']" routerLink="/about">About Us</a>
                    </div>

                    <div class="nav-item">
                        <a class="nav-link" [routerLinkActive]="['active']" routerLink="/our team">Our Team</a>
                    </div>

                    <div class="nav-item">
                        <a class="nav-link" [routerLinkActive]="['active']" routerLink="/services_">Our Services</a>
                    </div>
                    
                    <div class="nav-item">
                        <a class="nav-link" [routerLinkActive]="['active']" routerLink="/contact">Contact Us</a>
                    </div>

                </div>
            </div>
        </div>
    </nav>
