
.page-content {
    margin-top: 15px;
}

.page-error-container {
    text-align: center;
    padding-bottom: 50px;
}

.error-content-heading {
    color:red;
}

.page-error-paragraph {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.outer-accordion {
    margin: 0px;
    padding-left: 0px;
}

.inner-accordion {
    margin: 0px;
    padding-left: 0px;
}

.outer-body {
    padding-left: 0px;
    margin: 5px;
}

.accordion-body {
    border-bottom: 1px solid lightgrey;
    margin-left: 0px;
}

.accordion-item {
    border: none;
    margin-left: 0px;
}

.accordion-button {
    padding: 10px;
    padding-left: 10px;
    border-radius: 8px;
    margin-left: 0px;
}

.accordion-button:not(.collapsed) {
    color: grey;
    background-color: #f8f9fa;
    box-shadow: none;
    border: 1px solid lightgrey;
}

.accordion-button:focus {
    z-index: 3;
    border: none;
    outline: 1;
    box-shadow: 0 0 0 0rem #f8f9fa;
    border: 1px solid lightgrey;

}


