footer {
    
    text-align: center;
    color: #f0f0f0;
    word-wrap: break-word;
    border-top: 5px solid grey;
}

.footer-items-container {
    text-align: left;
    color: brown;
    padding: 15px;
    
}


.footer-item-header {
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-item {
    margin-bottom: 15px;
}

.footer-item-list {
    color: black;
    /* font-size: 13px; */
    padding-left: 2px;
    /* margin-left: 21px; */
}

.copyright-items-container {
    margin: 0px;
    padding: 30px;
    color: white;
    background-color: darkgray;
    
}

.footer-quick-links a{
    text-decoration: none;
    color: black;
}

/* Whatsapp floating button */
.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 11px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}