<footer class="bg-light">
    <div class="row footer-items-container">

        <div class="col-md-3 footer-item d-none d-md-block">
        
            <div class="footer-item-header">
                <fa-icon class="concept-icon" [icon]="['fas', 'gift']"></fa-icon>&nbsp;
                    OUR SERVICES
            </div>
            <div class="footer-item-list">             
                    Personal Injury Law<br />           
                    Labour Law<br />             
                    Commercial Law<br />
                    Family Law<br />  
            </div>
        </div>
        
            <div class="col-md-3 footer-item d-none d-md-block ">
                <div class="footer-item-header">
                    <fa-icon class="concept-icon" [icon]="['fas', 'bars']"></fa-icon>&nbsp; MISCs
                </div>
                <div class="footer-item-list footer-quick-links">
                    <span>
                        <a class="" routerLink="/faq">FAQs </a><br />
                    </span>
                    <span>
                        <a class="" routerLink="/"> Our Ts & Cs</a><br />
                    </span>
                    <span>
                        <a class="" routerLink="/"> Testimonials</a><br />
                    </span>
                    <span>
                        <a class="" routerLink="/contact"> Careers</a><br />
                    </span>
                </div>
            </div>
          
        <div class="col-md-3 footer-item">
            <div class="footer-item-header">
                <fa-icon class="concept-icon" [icon]="['fas', 'location-dot']"></fa-icon>&nbsp; PHYSICAL ADDRESS
            </div>
            <div class="footer-item-list">
                <span>26 Georg Road<br /></span>
                <span>Southernwood <br /></span>
                <span>East London<br /></span> 
                <span> 5201</span>
            </div>
        </div>

        <div class="col-md-3 footer-item d-none d-md-block">
            <div class="footer-item-header">
                <fa-icon class="concept-icon" [icon]="['fas', 'phone']"></fa-icon>&nbsp;
                CONTACT DETAILS
            </div>
            <div class="footer-item-list">
                (+27)71 913-2174<br />
                (+27)47 489-1267<br />
                info@monakaliattorneys.co.za<br />
                km@monakaliattorneys.co.za<br />
            </div>
        </div>

        <a href="https://wa.me/27719132174?text=Good day, I have a legal-related matter and I need your assistance."
            class="float" target="_blank">
            <i class="fa fa-whatsapp my-float"></i>
        </a>

        
    </div>
  
    
    <div class=" row copyright-items-container ">
        <div class="" >
            KM. Attorneys. Inc &copy; 2023 | All Rights reserved<p> Developed by Yingi 
                <!-- <p><app-star-rating></app-star-rating></p> -->
        </div>
    </div>


</footer>
