.page-content {
    margin-top: 15px;
}

form {
    font-size: 25px;
}

.contac-form-name {
font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

.form-control, .form-select {
    padding: 8px;
    color: lightseagreen;
}

input::placeholder, textarea::placeholder {
    color: lightseagreen;
    /* opacity: 0.5; */
}

.default-selected-text {
    color: grey;
}

textarea {
    resize: none;
}

.contact-form-btn-container {
    text-align: right;
}

.contact-form-btn {
    padding-left: 30px;
    border: none;
    background-color: brown;
    color: white;
    padding-right: 30px;    
}

.submit {
    background-color: brown;
    margin-left: 10px;
    color: white;
}

.submit:hover{
    color: white;
    background-color: red;
}

.hint-content {
    margin-bottom: 15px;
}

.reset:hover {
    background-color: lightgray;
    color: white;
}

/* 
---------------------------------------
 For accordion
---------------------------------------
*/

.outer-accordion {
    margin: 0px;
    padding-left: 0px;
}

.inner-accordion {
    margin: 0px;
    padding-left: 0px;
}

.outer-body {
    padding-left: 0px;
    margin: 5px;
}

.accordion-body {
    border-bottom: 1px solid lightgrey;
    margin-left: 0px;
}

.accordion-item {
    border: none;
    margin-left: 0px;
}

.accordion-button {
    padding: 10px;
    padding-left: 10px;
    border-radius: 8px;
    margin-left: 0px;
}

.accordion-button:not(.collapsed) {
    color: grey;
    background-color: #f8f9fa;
    box-shadow: none;
    border: 1px solid lightgrey;
}

.accordion-button:focus {
    z-index: 3;
    border: none;
    outline: 1;
    box-shadow: 0 0 0 0rem #f8f9fa;
    border: 1px solid lightgrey;

}