<div @fadeInPageTitle class="bg-light">
    <div class="welcome-messsage ">
        <h1>OUR TEAM</h1>
        <p class="page-title-description">MEET THE FOUNDER AND THE SUPPORT STAFF.</p>

        <div class="social-buttons-aligner">
            <app-share-this-buttons></app-share-this-buttons>
        </div>
    </div>

</div>


<div class="row page-content">

    <div class="col-md-9">

        <div class="page-content-container">

            <div class="accordion accordion-flush" id="accordionExample">

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                            aria-expanded="false" aria-controls="collapseOne">
                            <fa-icon class="concept-icon" [icon]="['fas', 'user-tie']"></fa-icon>&nbsp;
                            THE FOUNDER
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p><b>Mr. Monakali</b> started his articles of Clerkship in <b>2011</b> with Mavonya Moshesh & Associates, a medium law firm in
                            Butterworth in Eastern Cape.</p>
                            <p>In <b>2012</b> he was officially admitted as an attorney of the High Court after having met all the requirements for admission
                            as an attorney in South Africa.</p>
                            <p>After his admission as an attorney Mr. Monakali served as a professional legal assistant in the same Law firm. In <b>2013</b> 
                            he was employed by Road Accident Fund as a Claim&#8217;s Officer.</p>
                            In <b>2018</b>  he decided to resign at Road Accident Fund in order to open his own law firm for personal and professional growth and development and to serve the legal service needs of the community.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header " id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <fa-icon class="concept-icon" [icon]="['fas', 'users']"></fa-icon>&nbsp;
                            STAFF & SUPPORT TEAM
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse " aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                              
                                <b>Director</b>
                                <p>
                                    Mr. Kholekile Monakali (Attorney & Managing Director)                                  
                                </p>
                                
                                    <b>Qualifications:</b>
                                    
                                    <ul>
                                        <li>LLB (UFH) 2010</li>
                                        <li>PGDip in Drafting and Interpretation of Contracts (UJ) 2015 and</li>
                                        <li>Post Graduate Diploma in Labour Law (UJ) 2018</li>
                                    </ul>
                                    <hr/>

                                    <b>Support team:</b>
                                    
                                    <ul>
                                        <li><b>Mrs. Nolubabalo Lavu</b> - Office Manager and Legal Secretary</li>
                                        <li><b>Mr. Phinda Gegela</b> - General Assistant and Messenger</li>
                                    </ul>

                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>
    <div class="col-md-3 d-none d-md-block">
        <app-sidebar></app-sidebar>
    </div>

</div>
