<div >
<div @fadeInPageTitle class="bg-light">
    <div class="welcome-messsage ">
        <h1>WELCOME</h1>
        <p>
            ATTORNEYS, COMMISSIONERS OF OATH AND
            ADMINISTRATORS OF ESTATE.
        </p>
        
        <!-- <app-ngx-share-buttons></app-ngx-share-buttons> -->
        <div  class="social-buttons-aligner" >
            <app-share-this-buttons></app-share-this-buttons>
        </div>
        
    </div>
  
</div>
<!--The working version of image gallery-->
    <!-- <app-ngx-lightbox></app-ngx-lightbox>  -->

<!--Page content -->
  

    <div  @fadeInFeaturedImaged class="row featured-items-container">
        
        <div class="col-md-4 featured-container">
            <div  class="home-first-col">

                <div class="featured-items-image left-img">
                        <img src="../assets/featured/1.jpg">
                </div>
                <div class="featured-items-headings">
                    RAF Claims
                </div>
    
                <div class="featured-items-description">
                    We provide professional legal representation for services such as Road Accident Fund Claims, 
                    Medical Negligence, Silicosis, and related claims to our clients.
                </div>
    
                <div class="featured-items-button-container">
                    <a class="featured-items-buttom btn" routerLink="/contact"> Explore </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 featured-container">
            <div class="home-first-col">
                <div class="featured-items-image center-img">
                    <img src="../assets/featured/2.jpg">
                </div>
                <div class="featured-items-headings">
                    Family Law
                </div>
        
                <div class="featured-items-description">
                    We also provides legal services related to divorce proceedings maintenance, 
                    but not limited to advising clients on labour law matters.
                </div>
        
                <div class="featured-items-button-container">
                    <a class="featured-items-buttom btn" routerLink="/contact"> Explore </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 featured-container">
            <div class="home-first-col">

                <div class="featured-items-image right-img">
                    <img src="../assets/featured/7.jpg">
                </div>

                <div class="featured-items-headings">
                   Labor Law
                </div>
        
                <div class="featured-items-description">
                    We provides legal services to a wide spectrum of clients, 
                    ranging from individuals through small and medium companies to institutions.
                </div>
        
                <div class="featured-items-button-container">
                    <a class="featured-items-buttom btn" routerLink="/contact"> Explore </a>
                </div>
            </div>
        </div>
    </div>