@import '~font-awesome/css/font-awesome.css';

/* 
--------------------------------
 Sets the content size 
--------------------------------
 */
body {
    padding: 0px auto;
    background-image: url("/assets/img/11.jpg");
    /* background-size: 100%; */
    background-repeat: repeat;
    background-color: white;
}

/*
-----------------------------------------------------
 Sets padding to keep content from hitting the edges 
-----------------------------------------------------
*/

.body-content {
    background-color: white;
    padding-bottom: 20px;
    padding: 0px auto;
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, 100),
                0 0 100px 0 rgba(0, 0, 0, 100);
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 10px 10px 300px rgba(0, 0, 0, 300); */
    /* box-shadow: 0 4px 8px 0   rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.welcome-messsage {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    border-top: 30px solid brown;
}

.welcome-messsage>h1 {
    margin-bottom: 15px;
}

.welcome-messsage>b{
    margin-bottom: 50px;
}

.page-banner-heading-buttons {
    font-size: 30px;
}

.social-buttons-aligner {
    margin-top: 20px;
}

/* 
-------------------------------------------------
 Styling the behaviour of form-control validation
-------------------------------------------------
*/
.view-content-wrapper {
    background-color: white;
    border-radius: 6px;
}

.page-content-container {
    border: 1px solid lightgrey;
    padding: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: brown;
    
}
.form-control {
    margin-top: 7px;
    margin-bottom: 7px;
    color: grey;
}

.form-control.ng-touched.ng-invalid {
    /* border: 2px solid red; */
    border-left: 6px solid #42A948;
}

.form-control:focus {
    border: 1px solid blue;   
}

.form-validation-message {
    color: red;
    font-size: 14px;
    
}

.nav-tabs .nav-link {
    font-weight: bold;
    color: brown;
}

/* 
---------------------------------------
 Side-bar 
---------------------------------------
*/

.sidebar-heading-subheading {
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 10px;
    background-color: darkgray;
    color: white;
}

.sidebar-description {
    margin-left: 0px;
}

.sidebar-button {
    margin-top: 7px;
    background-color: black;
    color: white;
}

.sidebar-button:hover {
    color: white;
}

/*
---------------------------------------
 From http-data component
---------------------------------------
*/

.list-group {
    margin-bottom: 10px;
}

#post-header {
    background-color: #FEF;
}

a {
    text-decoration: none;
    color: black;
}

.list-content-formatting {
    text-align: left;
}

.list-content-formatting-btn:hover {
    background-color: lightgray;
    border: none;
}

.item-deco {
    border-left: 1px solid red;
}

/* 
---------------------------------------
 For toast 
---------------------------------------
*/

 .toast-top-center {
     top: 12px;
     margin: 0 auto;
     left: 50%;
     margin-left: -150px;
     width: 50%;
 }

 .price-tag {
     color: red;
     margin-right: 5px;
 }

/* 
---------------------------------------
 For accordion
---------------------------------------
*/

.accordion-button:not(.collapsed){
    color: #000;
    font-weight: bold;
}

.accordion-header button {
    color: brown;
    font-weight: bold;
}

.accordion-body {
   margin-left: 24px;
}