.company-identity {
        /* background-image: url("/assets/img/e.jpg"); */
        /* background-size: 100%; */
        /* background-repeat: repeat; */
        padding: 20px;
        padding-left: 0px;
}

.company-name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: 2.1em sans-serif;
    vertical-align: middle;
    color: darkcyan;
}

.logo img {
    height: 60px;
    padding-right: 10px;
}

.moto {
    color: brown;
    font: 1.2em sans-serif;
}


.company-reg {
    color: black;
    margin-top: 5px;
}